.beer-cards {
    align-self: center;
    min-width: 200px;
    
    .beer-card {
        border: 1px solid darkblue;
        padding: 10px;
        margin: 15px;
        border-radius:25px;
        display:flex;
        flex-direction:column;
        justify-content: center;
        .beer-card__img {
        background-color: whitesmoke;
        height: 150px;
        margin:auto;
        }
        .beer-desc {
            font-size: 9px;
        }
    }
}

@media screen and (max-width:500px) {      
    .beer-cards {
        display:flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        height:auto;
        text-align: center;
        gap: 10px;
    }
}

@media screen and (min-width:501px) { 
    .beer-cards {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        // width:auto;
    }
}