@use "../src/assets/sass/variables" as *;

* {
  background-color: brown;
}
.app-title {
  text-align:center;
  font-family: $font-family5;
  color:$color-yellow;
  text-shadow:2px 2px $color-lightblue;
  font-size: 12vw;
}


@media screen and (min-width: 992px) {

  .app-container {
    display:flex;
    align-content:space-between;
    background-color: $color-yellow;
  }

  .app-title {
    color: $color-darkblue;
    text-align: center;
    font-family: $font-family5; 
    font-size:5vw;
    font-weight:lighter; 
    text-shadow:4px 4px $color-yellow;
    background-color: whitesmoke;
  }

  .navbar {
    color: black;
    text-align: center;  
  }

  .main {
    text-align: center;
    margin: 20px;
    background-color:$color-lightblue;
    border-radius: 15px;
  }
    
  .card-container {
    justify-content: center;
    // border: 2px solid blue;
    border-radius: 15px;
    height:fit-content;
    margin:auto;
    padding: 15px; 
    max-width:1300px;
    box-shadow: 5px 5px $color-darkblue;
  }
}