.app-container {
  display:flex;
  align-content:space-between;
}

.app-title {
  color: darkred;
  text-align: center;  
}

.navbar {
  color: darkslategray;
  text-align: center;  
}

.main {
  text-align: center;
  margin: 20px;
}
  
.card-container {
  justify-content: center;
  border: 2px solid blue;
  border-radius: 15px;
  height:fit-content;
  margin:auto;
  padding: 15px; 
  max-width:1200px;
}
