@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Fredoka+One&family=Fuzzy+Bubbles&family=Inspiration&family=Monoton&family=Montserrat:wght@100&family=Oswald:wght@200&family=Poller+One&family=Source+Sans+Pro:wght@300&family=Syncopate&family=Work+Sans&display=swap');

$font-family1: 'DynaPuff', cursive;
$font-family2: 'Fredoka One', cursive;
$font-family3: 'Fuzzy Bubbles', cursive;
$font-family4: 'Inspiration', cursive;
$font-family5: 'Monoton', cursive;
$font-family6: 'Montserrat', sans-serif;
$font-family7: 'Oswald', sans-serif;
$font-family8: 'Poller One', cursive;
$font-family9: 'Source Sans Pro', sans-serif;
$font-family10: 'Syncopate', sans-serif;
$font-family11: 'Work Sans', sans-serif;

$color-red:#D00000;
$color-yellow:#FFBA08;
$color-darkyellow:#7A5800;
$color-lightblue:#3F88C5;
$color-darkblue:#032B43;
$color-darkgreen:#136F63;


$color-black: #2d3436;
$color-white: #ffffff;
$color-grey: #d1d1e9;

$color-primary: brown;
$color-secondary: #fdcb6e;
